{% load static %}
<aside class="sidebar">
    <h2 >Módulos</h2>
    <nav>
        <a href="{% url 'home' %}" class="nav-link">
            <img src="{% static 'img/icons/home.png' %}" width="50" height="50" alt="Inicio" />
            Inicio
        </a>
        <a href="{% url 'formbuilder:lista_formularios' %}" class="nav-link">
            <img src="{% static 'img/icons/form.png' %}" width="50" height="50" alt="forms">
            Formularios
        </a>
        <a href="#" class="nav-link">Usuarios</a>
        <a href="#" class="nav-link">
            <img width="50" height="50" src="{% static 'img/icons/settings.png' %}" alt="gear--v1" />
            Configuración
        </a>
    </nav>
</aside>